html {
	text-align: center;
}

#remove-link-effect {
	text-decoration: none;
}

#remove-link-effect:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#remove-link-effect:visited {
	color: white;
}

#background-image {
	background-image: url('./assets/workplace-texting.jpg');
	background-position: center center;
	background-size: cover;
}

#dots-svg {
	width: 100vw;
}

#dots-svg svg {
	width: 100vw;
	height: auto;
}

@media screen and (max-width: 1200px) {
	#dots-svg {
		height: 100vh;
	}

	#dots-svg svg {
		height: 800px;
		width: auto;
	}
}

/* ------------------------------------------------------------ */
/* Signup and Login Pages */
.left-half {
	background-image: url(./assets/messaging.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.right-half {
	background-image: url(./assets/blurry-gradient-haikei.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
