html {
	text-align: center;
}

#remove-link-effect {
	text-decoration: none;
}

#remove-link-effect:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#remove-link-effect:visited {
	color: white;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -1;
	-webkit-transform: translateZ(-10px) scale(2);
	transform: translateZ(-10px) scale(2);
}

.stars svg {
	width: 100vw;
	height: auto;
}

@media screen and (max-width: 900px) {
	.stars svg {
		height: 150vw;
		width: auto;
	}
}

/* ------------------------------------------------------------ */
/* Signup and Login Pages */
.left-half {
	background-image: url(./assets/messaging.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.right-half {
	background-image: url(./assets/blurry-gradient-haikei.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* ------------------------------------------------------------ */
/* Home Page */
.left-home {
	height: 100vh;
}

.main-emoji {
	-webkit-animation-name: slide-across-right;
	animation-name: slide-across-right;
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.main-emoji svg {
	width: 100%;
	height: 100%;
}

.main-emoji-positive {
	-webkit-animation: up-down;
	animation: up-down;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.main-emoji-negative {
	-webkit-animation: up-down;
	animation: up-down;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
	animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

#first-set {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

#second-set {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

#third-set {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}

@-webkit-keyframes slide-across-right {
	0% {
		-webkit-transform: translateX(0vw);
		transform: translateX(0vw);
	}
	25% {
		-webkit-transform: translateX(30vw);
		transform: translateX(30vw);
	}
	50% {
		-webkit-transform: translateX(60vw);
		transform: translateX(60vw);
	}
	75% {
		-webkit-transform: translateX(90vw);
		transform: translateX(90vw);
	}
	100% {
		-webkit-transform: translateX(120vw);
		transform: translateX(120vw);
	}
}

@keyframes slide-across-right {
	0% {
		-webkit-transform: translateX(0vw);
		transform: translateX(0vw);
	}
	25% {
		-webkit-transform: translateX(30vw);
		transform: translateX(30vw);
	}
	50% {
		-webkit-transform: translateX(60vw);
		transform: translateX(60vw);
	}
	75% {
		-webkit-transform: translateX(90vw);
		transform: translateX(90vw);
	}
	100% {
		-webkit-transform: translateX(120vw);
		transform: translateX(120vw);
	}
}

@-webkit-keyframes up-down {
	to {
		-webkit-transform: translateY(90vh);
		transform: translateY(90vh);
	}
}

@keyframes up-down {
	to {
		-webkit-transform: translateY(92vh);
		transform: translateY(92vh);
	}
}

@media screen and (max-width: 900px) {
	.left-home {
		height: 7vh;
		-webkit-transition: height 0.3s;
		-o-transition: height 0.3s;
		transition: height 0.3s;
	}

	.left-home:hover {
		height: 15vh;
	}

	.right-home {
		height: 93vh;
	}
}
